ASNToServiceUser/SOA/Schemas/XML/Universal/CodeList/ISO_Language_01_02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:rosettanet:specification:universal:Language:xsd:codelist:01.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:urss="urn:rosettanet:specification:system:xml:1.0" xmlns:tns="urn:rosettanet:specification:universal:Language:xsd:codelist:01.02" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.02"><xs:annotation><xs:documentation><urss:Copyright>© 2006 RosettaNet. All rights reserved. No part of this publication may be reproduced, stored in a retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the inclusion of this copyright notice. Any derivative works must cite the copyright notice. Any public redistribution or sale of this publication or derivative works requires prior written permission of the publisher.</urss:Copyright><urss:Disclaimer>RosettaNet makes no representation about the suitability of this work for any purpose or regarding any claims made by products which use it. It is provided as is without expressed or implied warranty.</urss:Disclaimer><urss:Program>Domain Model Foundational Program</urss:Program><urss:Purpose>Provides the reference to the ISO Language code</urss:Purpose></xs:documentation><xs:appinfo><urss:CreationDate>2005-03-24</urss:CreationDate><urss:LastUpdatedDate>2006-05-10</urss:LastUpdatedDate></xs:appinfo></xs:annotation><xs:element name="LanguageA" abstract="true"></xs:element><xs:element name="Language" type="tns:LanguageType" substitutionGroup="tns:LanguageA"></xs:element><xs:simpleType name="LanguageContentType"><xs:annotation><xs:appinfo><urss:Definition>For representation of Language name RosettaNet has adopted  ISO 639-2; 1998. Refer to the following web page to get the latest version of the standard:

http://www.loc.gov/standards/iso639-2/iso639jac.html

If you need more information about the ISO standard please contact ISO for more details.</urss:Definition><urss:CreationDate>2005-03-24</urss:CreationDate><urss:Identifier>ul:LanguageType</urss:Identifier><urss:LastUpdatedDate>2005-03-24</urss:LastUpdatedDate><urss:RegisteredBy>RosettaNet</urss:RegisteredBy><urss:TypeVersion>01.01</urss:TypeVersion></xs:appinfo></xs:annotation><xs:restriction base="xs:token"></xs:restriction></xs:simpleType><xs:complexType name="LanguageType"><xs:annotation><xs:appinfo><urss:CreationDate>2005-03-24</urss:CreationDate><urss:Identifier>LanguageType</urss:Identifier><urss:LastUpdatedDate>2005-03-24</urss:LastUpdatedDate><urss:RegisteredBy>RosettaNet</urss:RegisteredBy><urss:TypeVersion>01.01</urss:TypeVersion></xs:appinfo></xs:annotation><xs:simpleContent><xs:extension base="tns:LanguageContentType"><xs:attribute name="identifier" type="xs:token" fixed="Language"></xs:attribute><xs:attribute name="codeListVersion" type="xs:token" fixed="01.01"></xs:attribute><xs:attribute name="agency" type="xs:token" fixed="RosettaNet"></xs:attribute><xs:attribute name="schemaVersion" type="xs:token"></xs:attribute></xs:extension></xs:simpleContent></xs:complexType></xs:schema>
