ASNToServiceUser/SOA/Schemas/XML/Universal/CodeList/ISO_Currency_01_03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:rosettanet:specification:universal:Currency:xsd:codelist:01.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:urss="urn:rosettanet:specification:system:xml:1.0" xmlns:tns="urn:rosettanet:specification:universal:Currency:xsd:codelist:01.03" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.03"><xs:annotation><xs:documentation><urss:Copyright>© 2009 RosettaNet. All rights reserved. No part of this publication may be reproduced, stored in a retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the inclusion of this copyright notice. Any derivative works must cite the copyright notice. Any public redistribution or sale of this publication or derivative works requires prior written permission of the publisher.</urss:Copyright><urss:Disclaimer>RosettaNet makes no representation about the suitability of this work for any purpose or regarding any claims made by products which use it. It is provided as is without expressed or implied warranty.</urss:Disclaimer><urss:Program>Domain Model Foundational Program</urss:Program><urss:Purpose>Provides the reference to the ISO Currency code</urss:Purpose></xs:documentation><xs:appinfo><urss:CreationDate>2005-03-24</urss:CreationDate><urss:LastUpdatedDate>2009-02-20</urss:LastUpdatedDate></xs:appinfo></xs:annotation><xs:element name="CurrencyA" abstract="true"></xs:element><xs:element name="Currency" type="tns:CurrencyType" substitutionGroup="tns:CurrencyA"></xs:element><xs:simpleType name="CurrencyContentType"><xs:annotation><xs:appinfo><urss:Definition>For representation of Currency codes RosettaNet has adopted ISO 4217; 1995. The British Standards Institution (BSI) is the ISO 4217 Maintenance Agency. Refer to the following web page to get the latest version of the standard:
 http://www.bsi-global.com/Technical+Information/Publications/_Publications/tig90.xalter

If you need more information about the ISO standard please contact ISO for more details.</urss:Definition><urss:CreationDate>2005-03-24</urss:CreationDate><urss:Identifier>ucr:CurrencyType</urss:Identifier><urss:LastUpdatedDate>2005-03-24</urss:LastUpdatedDate><urss:RegisteredBy>RosettaNet</urss:RegisteredBy><urss:TypeVersion>01.01</urss:TypeVersion></xs:appinfo></xs:annotation><xs:restriction base="xs:token"></xs:restriction></xs:simpleType><xs:complexType name="CurrencyType"><xs:annotation><xs:appinfo><urss:CreationDate>2005-03-24</urss:CreationDate><urss:Identifier>CurrencyType</urss:Identifier><urss:LastUpdatedDate>2005-03-24</urss:LastUpdatedDate><urss:RegisteredBy>RosettaNet</urss:RegisteredBy><urss:TypeVersion>01.01</urss:TypeVersion></xs:appinfo></xs:annotation><xs:simpleContent><xs:extension base="tns:CurrencyContentType"><xs:attribute name="identifier" type="xs:token" fixed="Currency"></xs:attribute><xs:attribute name="codeListVersion" type="xs:token" fixed="01.01"></xs:attribute><xs:attribute name="agency" type="xs:token" fixed="RosettaNet"></xs:attribute><xs:attribute name="schemaVersion" type="xs:token"></xs:attribute></xs:extension></xs:simpleContent></xs:complexType></xs:schema>
