ASNToServiceUser/SOA/Schemas/0A1FailureNotification/0A1_MS_V02_00_FailureNotification.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2015 rel. 3 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="./xml.xsd"/>
	<xs:complexType name="Pip0A1FailureNotification">
		<xs:sequence>
			<xs:element ref="ActionControl"/>
			<xs:element ref="failedInitiatingDocumentDateTime" minOccurs="0"/>
			<xs:element ref="failedInitiatingDocumentIdentifier" minOccurs="0"/>
			<xs:element ref="fromRole"/>
			<xs:element ref="GlobalDocumentFunctionCode"/>
			<xs:element ref="ProcessIdentity"/>
			<xs:element ref="reason"/>
			<xs:element ref="thisDocumentGenerationDateTime"/>
			<xs:element ref="thisDocumentIdentifier"/>
			<xs:element ref="toRole"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Pip0A1FailureNotification" type="Pip0A1FailureNotification"/>
	<xs:complexType name="ActionControl">
		<xs:sequence>
			<xs:element ref="ActionIdentity"/>
			<xs:element ref="messageTrackingID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ActionControl" type="ActionControl"/>
	<xs:complexType name="ActionIdentity">
		<xs:sequence>
			<xs:element ref="GlobalBusinessActionCode"/>
			<xs:element ref="messageStandard" minOccurs="0"/>
			<xs:element ref="standardVersion" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ActionIdentity" type="ActionIdentity"/>
	<xs:complexType name="GlobalBusinessActionCode" mixed="true"/>
	<xs:element name="GlobalBusinessActionCode" type="GlobalBusinessActionCode"/>
	<xs:complexType name="messageStandard">
		<xs:sequence>
			<xs:element ref="FreeFormText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="messageStandard" type="messageStandard"/>
	<xs:complexType name="FreeFormText" mixed="true">
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="FreeFormText" type="FreeFormText"/>
	<xs:complexType name="standardVersion">
		<xs:sequence>
			<xs:element ref="VersionIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="standardVersion" type="standardVersion"/>
	<xs:complexType name="VersionIdentifier" mixed="true"/>
	<xs:element name="VersionIdentifier" type="VersionIdentifier"/>
	<xs:complexType name="messageTrackingID">
		<xs:sequence>
			<xs:element ref="InstanceIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="messageTrackingID" type="messageTrackingID"/>
	<xs:complexType name="InstanceIdentifier" mixed="true"/>
	<xs:element name="InstanceIdentifier" type="InstanceIdentifier"/>
	<xs:complexType name="failedInitiatingDocumentDateTime">
		<xs:sequence>
			<xs:element ref="DateTimeStamp"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="failedInitiatingDocumentDateTime" type="failedInitiatingDocumentDateTime"/>
	<xs:complexType name="DateTimeStamp" mixed="true"/>
	<xs:element name="DateTimeStamp" type="DateTimeStamp"/>
	<xs:complexType name="failedInitiatingDocumentIdentifier">
		<xs:sequence>
			<xs:element ref="ProprietaryDocumentIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="failedInitiatingDocumentIdentifier" type="failedInitiatingDocumentIdentifier"/>
	<xs:complexType name="ProprietaryDocumentIdentifier" mixed="true"/>
	<xs:element name="ProprietaryDocumentIdentifier" type="ProprietaryDocumentIdentifier"/>
	<xs:complexType name="fromRole">
		<xs:sequence>
			<xs:element ref="PartnerRoleDescription"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="fromRole" type="fromRole"/>
	<xs:complexType name="PartnerRoleDescription">
		<xs:sequence>
			<xs:element ref="ContactInformation" minOccurs="0"/>
			<xs:element ref="GlobalPartnerRoleClassificationCode"/>
			<xs:element ref="PartnerDescription"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PartnerRoleDescription" type="PartnerRoleDescription"/>
	<xs:complexType name="ContactInformation">
		<xs:sequence>
			<xs:element ref="contactName"/>
			<xs:element ref="EmailAddress"/>
			<xs:element ref="facsimileNumber" minOccurs="0"/>
			<xs:element ref="telephoneNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ContactInformation" type="ContactInformation"/>
	<xs:complexType name="contactName">
		<xs:sequence>
			<xs:element ref="FreeFormText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="contactName" type="contactName"/>
	<xs:complexType name="EmailAddress" mixed="true"/>
	<xs:element name="EmailAddress" type="EmailAddress"/>
	<xs:complexType name="facsimileNumber">
		<xs:sequence>
			<xs:element ref="CommunicationsNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="facsimileNumber" type="facsimileNumber"/>
	<xs:complexType name="CommunicationsNumber" mixed="true"/>
	<xs:element name="CommunicationsNumber" type="CommunicationsNumber"/>
	<xs:complexType name="telephoneNumber">
		<xs:sequence>
			<xs:element ref="CommunicationsNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="telephoneNumber" type="telephoneNumber"/>
	<xs:complexType name="GlobalPartnerRoleClassificationCode" mixed="true"/>
	<xs:element name="GlobalPartnerRoleClassificationCode" type="GlobalPartnerRoleClassificationCode"/>
	<xs:complexType name="PartnerDescription">
		<xs:sequence>
			<xs:element ref="BusinessDescription"/>
			<xs:element ref="GlobalPartnerClassificationCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PartnerDescription" type="PartnerDescription"/>
	<xs:complexType name="BusinessDescription">
		<xs:sequence>
			<xs:element ref="GlobalBusinessIdentifier"/>
			<xs:element ref="GlobalSupplyChainCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessDescription" type="BusinessDescription"/>
	<xs:complexType name="GlobalBusinessIdentifier" mixed="true"/>
	<xs:element name="GlobalBusinessIdentifier" type="GlobalBusinessIdentifier"/>
	<xs:complexType name="GlobalSupplyChainCode" mixed="true"/>
	<xs:element name="GlobalSupplyChainCode" type="GlobalSupplyChainCode"/>
	<xs:complexType name="GlobalPartnerClassificationCode" mixed="true"/>
	<xs:element name="GlobalPartnerClassificationCode" type="GlobalPartnerClassificationCode"/>
	<xs:complexType name="GlobalDocumentFunctionCode" mixed="true"/>
	<xs:element name="GlobalDocumentFunctionCode" type="GlobalDocumentFunctionCode"/>
	<xs:complexType name="ProcessIdentity">
		<xs:sequence>
			<xs:element ref="GlobalProcessIndicatorCode"/>
			<xs:element ref="InstanceIdentifier"/>
			<xs:element ref="VersionIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProcessIdentity" type="ProcessIdentity"/>
	<xs:complexType name="GlobalProcessIndicatorCode" mixed="true"/>
	<xs:element name="GlobalProcessIndicatorCode" type="GlobalProcessIndicatorCode"/>
	<xs:complexType name="reason">
		<xs:sequence>
			<xs:element ref="FreeFormText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="reason" type="reason"/>
	<xs:complexType name="thisDocumentGenerationDateTime">
		<xs:sequence>
			<xs:element ref="DateTimeStamp"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="thisDocumentGenerationDateTime" type="thisDocumentGenerationDateTime"/>
	<xs:complexType name="thisDocumentIdentifier">
		<xs:sequence>
			<xs:element ref="ProprietaryDocumentIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="thisDocumentIdentifier" type="thisDocumentIdentifier"/>
	<xs:complexType name="toRole">
		<xs:sequence>
			<xs:element ref="PartnerRoleDescription"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="toRole" type="toRole"/>
</xs:schema>